WCFHostForWF1Test/Service References/ServiceReference1/StateMachineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StateMachineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2824/StateMachineService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2824/StateMachineService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStateMachineService_CreateFlow_InputMessage" />
  <wsdl:message name="IStateMachineService_CreateFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFlowResponse" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_ChangeAction_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAction" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_ChangeAction_OutputMessage" />
  <wsdl:message name="IStateMachineService_GetAction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAction" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_GetAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActionResponse" />
  </wsdl:message>
  <wsdl:portType name="IStateMachineService">
    <wsdl:operation name="CreateFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateMachineService/CreateFlow" message="tns:IStateMachineService_CreateFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateMachineService/CreateFlowResponse" message="tns:IStateMachineService_CreateFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateMachineService/ChangeAction" message="tns:IStateMachineService_ChangeAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateMachineService/ChangeActionResponse" message="tns:IStateMachineService_ChangeAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateMachineService/GetAction" message="tns:IStateMachineService_GetAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateMachineService/GetActionResponse" message="tns:IStateMachineService_GetAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStateMachineService" type="tns:IStateMachineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFlow">
      <soap:operation soapAction="http://tempuri.org/IStateMachineService/CreateFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAction">
      <soap:operation soapAction="http://tempuri.org/IStateMachineService/ChangeAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAction">
      <soap:operation soapAction="http://tempuri.org/IStateMachineService/GetAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StateMachineService">
    <wsdl:port name="BasicHttpBinding_IStateMachineService" binding="tns:BasicHttpBinding_IStateMachineService">
      <soap:address location="http://localhost:2824/StateMachineService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>